<!-- Script Section -->
<!-- ======= Footer ======= -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="social-container">
              <span>
                <a href="https://github.com/yashvichauhan" >
                    <i class="bi bi-github" style="font-size: 25px; color: #fff; padding:7px;"></i>
                </a>
              </span>
              <span>
                  <a href="https://twitter.com/chauhan_yashvi" >
                      <i class="bi bi-twitter" style="font-size: 25px; color: #fff; padding:7px;"></i>
                  </a>
              </span>
              <span>
                <a href="https://pin.it/WEsDbIk" >
                    <i class="bi bi-pinterest" style="font-size: 25px; color: #fff; padding:7px;"></i>
                </a>
              </span>
              <span>
                <a href="https://www.instagram.com/chauhanyashvi_/" >
                    <i class="bi bi-instagram" style="font-size: 25px; color: #fff; padding:7px;"></i>
                </a>
              </span>
              <span>
                <a href="https://www.youtube.com/channel/UCEDiHR1xBxlGksFXQmR_o2A" >
                    <i class="bi bi-youtube" style="font-size: 25px; color: #fff; padding:7px;"></i>
                </a>
              </span>
          </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-12">
        <div class="copyright-box">
          <p class="copyright">&copy; Copyright <strong>Yashvi Chauhan</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End  Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
