<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  
  <!-- Main Content -->
  <main class="container">
    <br/>
    <section id="about" class="about-mf sect-pt4 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-6 col-md-5">
                      <div class="about-img">
                        <img src="/Assets/images/Yashvi2.jpeg" class="img-fluid rounded b-shadow-a" alt="">
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-7">
                      <div class="about-info">
                        <p><span class="title-s">Name: </span> <span>Yashvi Chauhan</span></p>
                        <p><span class="title-s">Profile: </span> <span>full stack developer</span></p>
                        <p><span class="title-s">Email: </span> <span>yashvichauhan19@gmail.com</span></p>
                        <p><span class="title-s">Phone: </span> <span>+1(905) 782-1338</span></p>
                      </div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Skill</p>
                    <span>JAVASCRIPT</span> <span class="pull-right">85%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>TYPESCRIPT</span> <span class="pull-right">75%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>PYTHON</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>JAVA</span> <span class="pull-right">60%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span>SQL</span> <span class="pull-right">80%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <div class="skill-mf">
                    <p class="title-s">Resume</p>
                    <a href="/Assets/media/YashviResumeV3Pdf.pdf" target="_blank"><span>Download here</span>&nbsp;&nbsp;<i class="fa fa-download" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="about-me pt-4 pt-md-0">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        About me
                      </h5>
                    </div>
                    <p>
                      2 years of experience as a Software Developer, with experience in full-stack development, QA and client services
                      on multi-faceted business projects. Strong problem-solving skills and a passion for learning new technologies.
                    </p>
                    <p>
                      Student of Software Engineering Technology Advanced Diploma; Holds a Bachelor of Computer Engineering.
                      Solutions-driven Full-Stack Developer experienced in building out both consumer and startup applications.
                      Skilled in developing fully responsive, cross-browser and performant web applications with React, Angular,
                      Typescript, additional CSS and other JavaScript libraries. 
                    </p>
                    <p>
                      Strong knowledge of SQL (Queries, Triggers and Stored Procedures) and NoSQL.
                      Experienced in working in a team, both as a collaborative team member and within a leader capacity
                      Knowledgeable an agile-based SDLC environment and participating in Scrum sessions.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  
<%- include partials/footer.ejs %>