<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <br/>
    <section id="services" class="services-mf pt-5 route">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="title-box text-center">
              <h3 class="title-a">
                Services
              </h3>
              <p class="subtitle-a">
                The services I offer as full stack developer.
              </p>
              <div class="line-mf"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-briefcase"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Web Design</h2>
                <p class="s-description text-center">
                  Successful online projects start with good design. It establishes a solid foundation for future development and allows for long term growth
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-card-checklist"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Development</h2>
                <p class="s-description text-center">
                  I can code my own designs or even use the customer's design as base. My focus is to generate clean code that's well structured for reliability
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-bar-chart"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Basic SEO</h2>
                <p class="s-description text-center">
                  I can setup your project to use basic SEO principles which will push your project to the first page on search engines and save you ads money
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-binoculars"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Responsive Design</h2>
                <p class="s-description text-center">
                  Experienced with latest responsive design frameworks to deliver mobile first, dynamic and perfomant web soltions with cross browser compatibility.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-brightness-high"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Freelancing</h2>
                <p class="s-description text-center">
                   A hardworking, reliable, passionate and self-motivated freelancer providing dynamic, customer-oriented, business software solutions. Guarantee to deliver only top quality product.  
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-box">
              <div class="service-ico">
                <span class="ico-circle"><i class="bi bi-calendar4-week"></i></span>
              </div>
              <div class="service-content">
                <h2 class="s-title">Cloud services</h2>
                <p class="s-description text-center">
                  Identifying and integrating public and private cloud software services and solutions that help organizations operate with greater efficiency, security, and attention to detail.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
  
<%- include partials/footer.ejs %>