<%- include('./partials/header.ejs') %>

<%- include('./partials/main_nav.ejs') %>
  

  <!-- Main Content -->
  <main class="container">
    <br/>
    <section id="contact" >
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="contact-mf">
              <div id="contact" class="box-shadow-full">
                <div class="row">
                  <div class="col-md-6">
                    <div class="title-box-2">
                      <h5 class="title-left">
                        Send Message
                      </h5>
                    </div>
                    <div>
                      <form role="form" class="my-email-form">
                        <div class="row">
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                          </div>
                          <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                          </div>
                          <div class="col-md-12 text-center mt-3">
                            <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="title-box-2 pt-4 pt-md-0">
                      <h5 class="title-left">
                        Get in Touch
                      </h5>
                    </div>
                    <div class="more-info">
                      <p >
                        For any type of online project please don't hesitate to get in touch with me. The fastest way is to send me your message using the following email <a href="mailto:yashvichauhan19@gmail.com">Send Email</a>
                      </p>
                      <ul class="list-ico">
                        <li><span class="bi bi-geo-alt"></span> Boyce Avenue, Toronto, M1J 1K4</li>
                        <li><span class="bi bi-phone"></span> (905) 782-1338</li>
                        <li><span class="bi bi-envelope"></span> yashvichauhan19@gmail.com </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>