<!-- Main Navigation -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">

    <a class="logo" href="/"><img src="/Assets/images/logoMainC.png"></img></a>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <% if (title == "Home"){ %>
            <a class="nav-link active" href="/">Home</a>
          <% } else  { %>
            <a class="nav-link" href="/">Home</a>
          <% } %>
        </li>
        <li>
          <% if (title == "About"){ %>
            <a class="nav-link active" href="/about">About</a>
          <% } else  { %>
            <a class="nav-link" href="/about">About</a>
          <% } %>
        </li>
        <li>
          <% if (title == "Products"){ %>
            <li><a class="nav-link active" href="/products">Projects</a></li>
          <% } else  { %>
            <li><a class="nav-link" href="/products">Projects</a></li>
          <% } %>
        </li>
        <li>
          <% if (title == "Services"){ %>
            <li><a class="nav-link active" href="/services">Services</a></li>
          <% } else  { %>
            <li><a class="nav-link" href="/services">Services</a></li>
          <% } %>
        </li>
        <li>
          <% if (title == "Contact"){ %>
            <li><a class="nav-link active" href="/contact">Contact</a></li>
          <% } else  { %>
            <li><a class="nav-link" href="/contact">Contact</a></li>
          <% } %>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>

 